*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
@import './mixin/mixin.scss';
section{
    width: 100%;
    height: 100vh;
    min-width: 320px;
    @include flex();
    @import './header/header.scss';
    @import './main/main.scss';
    @media screen and (max-width:995px){
        flex-direction: column;
        header{
            width: 100%;
            height: 70px;
            background-color: black;
            color: white;
            padding: 10px;
            @include flex();
            justify-content: space-between;
            overflow-y: hidden;
            .header_block, .burger{
                width: max-content !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h1{
                    margin: 0;
                }
            }
            .list{
                display: none;
            }
            .burger{
                display: block;
                margin: 0;
                font-size: 24px;
            }
        }
        main{
            width: 100%;
            padding: 10px;
        }
    }
}